In [30]:
import pandas as pd
import numpy as np
import requests
import urllib
import json
import matplotlib.pyplot as plt
import cv2
import glob,os,time
from PIL import Image

In [31]:
json_path = 'Indian_Number_plates.json'
data = pd.read_json(json_path,lines=True)
data.head()

,content,annotation,extras
0,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['number_plate'], 'notes': '', 'poi...",NaN
1,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['number_plate'], 'notes': '', 'poi...",NaN
2,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['number_plate'], 'notes': '', 'poi...",NaN
3,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['number_plate'], 'notes': '', 'poi...",NaN
4,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['number_plate'], 'notes': '', 'poi...",NaN

In [33]:
print(data['annotation'][0])
print(len(data))

print(data)

[{'label': ['number_plate'], 'notes': '', 'points': [{'x': 0.722084367245657, 'y': 0.5879828326180251}, {'x': 0.8684863523573201, 'y': 0.688841201716738}], 'imageWidth': 806, 'imageHeight': 466}]
237
                                               content  \
0    http://com.dataturks.a96-i23.open.s3.amazonaws...
1    http://com.dataturks.a96-i23.open.s3.amazonaws...
2    http://com.dataturks.a96-i23.open.s3.amazonaws...
3    http://com.dataturks.a96-i23.open.s3.amazonaws...
4    http://com.dataturks.a96-i23.open.s3.amazonaws...
..                                                 ...
232  http://com.dataturks.a96-i23.open.s3.amazonaws...
233  http://com.dataturks.a96-i23.open.s3.amazonaws...
234  http://com.dataturks.a96-i23.open.s3.amazonaws...
235  http://com.dataturks.a96-i23.open.s3.amazonaws...
236  http://com.dataturks.a96-i23.open.s3.amazonaws...

                                            annotation  extras
0    [{'label': ['number_plate'], 'notes': '', 'poi...     NaN
1    [{'label': ['number_plate'], 'notes': '', 'poi...     NaN
2    [{'label': ['number_plate'], 'notes': '', 'poi...     NaN
3    [{'label': ['number_plate'], 'notes': '', 'poi...     NaN
4    [{'label': ['number_plate'], 'notes': '', 'poi...     NaN
..                                                 ...     ...
232  [{'label': ['number_plate'], 'notes': '', 'poi...     NaN
233  [{'label': ['number_plate'], 'notes': '', 'poi...     NaN
234  [{'label': ['number_plate'], 'notes': '', 'poi...     NaN
235  [{'label': ['number_plate'], 'notes': '', 'poi...     NaN
236  [{'label': ['number_plate'], 'notes': '', 'poi...     NaN

[237 rows x 3 columns]

In [ ]:
dataset = {}
vals = ['name','height','width','top_x','top_y','bottom_x','bottom_y']
for i in vals:
  dataset[i] = list()
count = 0
print(data)
for idx,row in data.iterrows():
  headers = headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
  #img = urllib.request.urlopen(row["content"])
  img = urllib.request.url
  img = requests.get(row['content'],headers=headers)
  print(img)
  img = Image.open(img)
  img = img.convert('RGB')
  img.save("/content/License Plates/car_{}.jpeg".format(count),'JPEG')
  dataset['name'].append('car_{}'.format(count))
  annotation = row['annotation']
  dataset['height'].append(annotation[0]['imageHeight'])
  dataset['width'].append(annotation[0]['imageWidth'])
  dataset['top_x'].append(annotation[0]['points'][0]['x'])
  dataset['top_y'].append(annotation[0]['points'][0]['y'])
  dataset['bottom_x'].append(annotation[0]['points'][1]['x'])
  dataset['bottom_y'].append(annotation[0]['points'][1]['y']) 
  count =count+1
  if count%10==0:
    print('Downloaded.. {}/{}'.format(count,len(data)))  
  if count%len(data)==0:
    print('Loading last image.. {}/{}'.format(count,len(data)))  
print('{} images downloaded'.format(count))